.App{
  background-color: rgb(226, 220, 226);
  height: 100vh;

}
.AboutMe_text_tittle{
  color: rgb(206, 248, 248);
  text-decoration-line: underline;

}
.me{
  display: flex;
  gap: 5%;
}
.me_tittle{
  padding-top: 110px;
}
.me_img{
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.Contact_text--tittle{
  text-decoration-line: underline;
  color: rgb(206, 248, 248);
}
.Container{
  display: grid;
  grid-template-columns: 32% 64%;
  gap: 4%;
}
.Container_Left{
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(68, 198, 183);
  height: 100vh;
}
.btn_social{
  height: 2rem;
  margin: .8rem;
}
.SocialMedia{
  right: 5%;
  width: auto;
  bottom:0px;
  height: auto;
}
ul.SocialMedia_botones {
  list-style: none;
  margin-left: 16%;

}

ul.SocialMedia_botones li{
  display: inline;
}

.btn_social:hover{
  transform: scale(1.5);
  transition: 0.6s all;
}


*{
  font-size: 18px;
}
h4{
  color:rgb(0, 0, 0);
}
h5.skill_bar{
  color:rgb(216, 223, 223);
}
.skill_tittle{
  text-decoration-line: underline;
  color: rgb(206, 248, 248);
}
.img_right{
  height: 60px;
  width: 60px;
}

.education{
  display: flex;
  gap: 3%;
}

.proyects{
  display: flex;
  gap:3%;
}

.education_tittle--position{
  margin-top: 13px;
  text-decoration-line: underline;
}
.proyects_tittle_position{
  margin-top: 13px;
  text-decoration-line: underline;
}
.education_text--year{
  opacity: 55%;
}
.education_text{
  display:flex;
  gap:3%;
}

.Form_input{
  width: 200px;
  height: 30px;
  font-size: 16px;
}

.Form_label{
  padding-right: 5px;
  padding-left: 5px;
}
.Form_comments{
  height: 60px;
  width: 250px;
}